# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Firebase
GoogleService-Info.plist

# OS
.DS_Store
*.swp
*~
